/* Fuente externa*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/*Body style*/
body{
    font-family: "Pacifico";
    font-display: swap;
    background-color: #fffbf2;
    color: #3b3a3d;
}

/*header and nav styles*/
.bg-navbar{
    background-color: #BFDACA;
}

/*Section and article styles*/
.hero{
    text-align: center;
}
.hero img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    overflow: hidden;

}
.hero h1{
    font-family: "Pacifico";
    font-style: italic;
    font-size: 50px;
    padding: 30px;
    margin: 30px;
} 
.hero p{
    font-family: "Pacifico";
    font-size: large;
    padding: 10px;
    margin: 10px;
    border-bottom: 1px solid #BFDACA;
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    padding: 10px;
    margin: 70px;
}
.line__container{
    text-align: center;
    width: 300px;
    padding: 5px;
    transition: 0.5s;
}
.line__container p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: bold;
    padding: 10px;
}

.line__container:hover{
    border-radius: 2%;
    background-color: #f0ec8f;
}
.line__container:hover:nth-child(even){
    background-color: #bbeee0;
}

/*about us*/
.hero__container{
    margin: 30px;
}
.hero__card{
    display: flex;
}
.hero__card img{
    min-width: 40%;
    max-width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 5%;
}
.hero__card__content{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: bold;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
}



/*Productos*/
.product__container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 30px;
    gap: 30px;
}

.box{
    width: 90%;
    border-radius: 1%;
    background-color: #fffbf2;
    justify-content: center;
    padding: 20px;
    display: flex;
    gap: 15px;
    transition: 0.5s;
}
.box img{
    border-radius: 1%;
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.box__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 50%;
}

.box__content ul{
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}
.box:hover{
    background-color: #f0ec8f;
}
.box:nth-child(even){
    flex-direction: row-reverse;
}
.box:hover:nth-child(even){
    background-color: #bbeee0;
}

/*Galeria*/

.galery_container{
    background-color: #f0ec8f;
    display: grid;
    padding: 20px;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(320px,1fr));
    grid-auto-rows: minmax(300px, auto);
    grid-template-areas: dense;

}
.galery_container img, video{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/*contacto*/
.contact{
    background-color: #f0ec8f;
    width: fit-content;
    margin: 20px;
    padding: 20px;
    font-weight: bold;
    border-radius: 1%;
}

.btn-primary{
    background-color: #3b3a3d;
    border: 2px solid transparent;
}
.btn-primary:hover{
    background-color: #f0ec8f;
    color:#3b3a3d;
    border: 2px solid #3b3a3d;
}


/*footer styles*/
#footer{
    background-color:#BFDACA;
    color: #242325;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    padding: 20px;
    margin-top: 20px;
}

::selection{
    background-color:#bbeee0;
}

@media(max-width:380px){
    .header, .hero__card{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero__card{
        flex-direction: column;
        gap: 10px;
    }

    .hero__card img{
        width: 100%;
        object-fit: cover;
        border-radius: 0%;
    }

    .box{
        width: 100%;
        flex-wrap: wrap;
        background-color: #f0ec8f;
    }
    .box:nth-child(even){
        background-color: #bbeee0;
    }
    .box img{
        height: 200px;
    }
    .box__content{
        justify-content: left;
        width: auto;
    }
    .contact{
        margin: 0%;
        border-radius: 0%;
        background-color: #bbeee0;
        background-attachment: fixed;
        background-size: cover;
    }
}