.hero__container{
    margin: 30px;
}
.hero__card{
    display: flex;
    flex-direction: column;

    img{
        min-width: 40%;
        max-width: 100%;
        height: 500px;
        object-fit: cover;
        border-radius: 5%;
    }

    &__content{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: italic;
        font-weight: bold;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: space-between;
    }
}